DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:15432/lab1_db
JWT_SECRET_KEY=change_me
JWT_EXPIRE_MINUTES=60
PARSER_URL=http://localhost:8001
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
